body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f1e9db;
  /* width: 750px; */
  margin: auto;
}
.navbar {
  margin: auto;
  width: 700px;
  margin-bottom: 2rem;
}
.refreshButton {
  float: right;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-bottom: 0.25rem;
  background-color: #f1e9db;
  border-radius: 50%;
  /* margin-bottom: 2rem; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.refreshButton:hover {
  cursor: pointer;
}
.container {
  text-align: center;
  width: 750px;
  margin: auto;
  background-color: #a39b8b;
  border-radius: 1em;
  padding: 1rem 0;
  box-shadow: #07020d33 0px 4px 12px;
}
.coinHolder {
  text-align: center;
  display: inline-block;
  margin: 1rem;
  padding: 1em;
  background-color: #716a5c;
  color: #f1e9db;
  border-radius: 1em;
  box-shadow: #f1e9db33 0px 4px 12px;
  width: 150px;
}
.shoutout {
  text-align: center;
}
#currencyLabel {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
#currency {
  /* margin-bottom: 1.5rem; */
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #f1e9db;
  color: #07020d;
  /* border: 1px solid #716a5c; */
  border: 0;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
h1 {
  padding-left: 1rem;
  font-size: 2.25rem;
}
.select {
  padding-bottom: 2rem;
  margin: auto;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subHolder {
  font-size: large;
  /* border: 1px solid #07020d; */
  /* border-radius: 0.5em; */
}
@media (max-width: 750px) {
  .container {
    width: 100%;
  }
  .navbar {
    width: 100%;
  }
  .select {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .navbar {
    width: 100%;
    text-align: center;
  }
  #currencyLabel {
    font-size: 1.15rem;
  }
  #currency {
    font-size: 1rem;
  }
}
